
/* MAIN.CSS */

/* Generic Elements **************************/

html, body {
	background: radial-gradient(circle, #ffffff, #e7e7e7 );
	line-height:24px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size:20px; 
   	font-weight: 300;
   	height:100%;
   	max-height:100vh;
	width:100%;
	margin:0;
	padding:0;
}


/* Typography */

h1 {
	box-sizing:border-box;
	font-size:2em;
	height:20%;
	margin:0;
	padding:5%;
	text-align:center;
	vertical-align:middle;
	width:100%;
	white-space: nowrap;
}

p {
	font-size:1em;
	margin:0;
	line-height:1.3em;
}

#reset span {
	color:white;
	font-size: 0.9em;
	line-height: 1.5em;
	vertical-align:middle;
}


/* Grid Layout */

#main-content {
	margin:0 auto;
	width:60%;
}

#ttt-container {
	position:relative;
	width:100%;
	height: auto;
}

.ttt-row {
	width:100%;
	height:33%;
}
.ttt-cell {
	position:relative;
	float:left;
	height:100%;
	width:33%;
}


/* Lines */

.line-container-vt,
.line-container-hz {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

.vt, .hz {
	background-color:black;
	border-radius:8px;
	float:left;
}

.vt {
	width:4px;
	height:100%;
}

.hz {
	
	height:4px;
	width:100%;
}


/* X's and O's */

.x, .o {
	transition: all 0.5s ease-in-out 150ms;
	transform: scale(1);
	opacity:1;
}

.x, .x:after {
	position:absolute;
	top:50%;
	left:50%;
	height:2px;
	width:30px;
	margin-left:-15px;
	background-color:#d91231;
}

.x {
	transform: rotate(45deg);
}

.x:after {
	content:'';
	transform: rotate(-90deg);
}

.o {
	position:absolute;
	top:50%;
	left:50%;
	height:30px;
	width:30px;
	margin-top:-15.5px;
	margin-left:-17.5px;
	border:2px solid #2b46a6;
	border-radius:100%;	
}


/* Button */

.button {
	position:absolute;
	top:50%;
	left:50%;
	width:60px;
	height:30px;
	margin-top:-15px;
	margin-left:-30px;
	background: linear-gradient(to top, #2b7ba6, #85d1e5);
	box-shadow: 0 4px 0 0 #034f63;
	border-radius:4px;
	opacity:1;
	transition:top 150ms, box-shadow 150ms, opacity 0.5s;
	z-index:1;
}

#reset {
	width: 70px;
	text-align:center;
	background: linear-gradient(to top, #810b08, #d8534f);
	box-shadow: 0 4px 0 0 #d7413c;
	position:relative;
	top:auto;
	left:auto;
	margin:0;
}

.button:active {
	top:54%;
	box-shadow:none;
}

#reset:active {
	top:4px;
}


/* Left column */
#left-column {
	position:absolute;
	top:30%;
	left:7%;
	width:150px;
}

#left-column-relative-block {
	position:relative;
	width:150px;
}

#score {
	word-wrap:nowrap;
}

.score-title {
	margin-top:20px;
	line-height:2em;
}

.score-1 {
	color:#d7413c;
}

.score-2 {
	color:#3c95d7;
}


/* Utility classes */

.hide-button, .hide {
	opacity:0;
}

.hide {
	transform: scale(1.5);
}

.bring-to-front {
	z-index:10;
}

/* MEDIA QUERIES ******************************************/

@media screen and (max-width:480px) {
	#left-column {
		display:none
	}
	
	#main-content {
		width:90%;
	}
}
